nav li{
    list-style: none;
    margin-right: 0;

}
nav li a{
    text-decoration: none;
    color: darkgreen;
    font-size: 20px;
    padding: 0px 20px;
}
nav > ul{
    display: flex;
}
nav li:hover{
    color: brown;
    background-color:black;
}
.drop-down{
    display: none;
    position: absolute;
    background-color:whitesmoke;
    padding: 0;
}
.drop-down:hover{
    display: block;
}
nav > ul > li:hover > ul{
    display: block;
}
.drop-down li{
    padding: 0;
    margin: 0;
}